<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <dict>
    	<key>Source</key>
    	<dict><key>Filename</key>
<string>music.png</string>
<key>Size</key>
<string>{200, 120}</string>
</dict>
    	<key>Tiles</key>
    	<array><dict>
	<key>Name</key>
	<string>music_0_0.png</string>
	<key>Rect</key>
	<string>{{0,0},{100,120}}</string>
</dict>
<dict>
	<key>Name</key>
	<string>music_0_1.png</string>
	<key>Rect</key>
	<string>{{100,0},{100,120}}</string>
</dict>
</array>
    </dict>
    </plist>
